<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Cadastro Jogos</title>
</head>

<body>
    <div class="navbar">

    </div>
    <div class="divgeral">
        <img src="../imagens/logosite.png"
            style="width: 90px; height: 90px; margin-left: 40px; display: block; margin-bottom:auto">
    </div>
    <div class="button">
        <form action="/colecao" method="post">
            <div class="editar">
                <a id="mensagem-text">Preencha os dados referente ao novo jogo</a>
            </div>
            <div class="jText">
                <label id="texto-nome" for="name">Nome:</label>
                <textarea id="jText-1" type="text" class="input-colecao" placeholder="Insira o nome do jogo"
                    name="name_colecao"></textarea>
            </div>
            <div class="jText-img">

                <label id="texto-imagem" for="name">Imagem:</label>
                <textarea id="jText-1" type="text" class="input-colecao" placeholder="Insira o link da imagem"
                    name="img_colecao"></textarea>

            </div>
            <button id="button-1" type="submit">Cadastrar</button>
        </form>
    </div>
</body>

</html>

<style>
    body {
        /*background-color: #f1f1f1;*/
        background-image: url('../imagens/retro.gif');
        background-repeat: repeat;
        background-size: cover;
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
    }

    .navbar {
        width: 100%;
        height: 60px;
        background-color: #2c3e50;
    }

    .divgeral {
        width: 100%;
        height: 100%;
    }

    .editar {
        display: flex;
        margin-top: 40px;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-bottom: 40px;

    }

    .novacolecao {
        display: flex;
        margin-left: 20px;
        margin-top: 35px;
        width: 90%;

    }


    .jText {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-bottom: 10px;


    }

    .jText-img {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-bottom: 10px;


    }

    .button {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        align-items: center;
        width: 100%;

    }

    .button-2 {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        align-items: center;
        width: 100%;

    }

    #mensagem-text {
        font-family: sans-serif;
        font-size: 30px;
        color: rgb(204, 203, 207);
    }

    #mensagem-1-text {
        margin-left: auto;
        margin-right: auto;
        font-family: sans-serif;
        font-size: 26px;
        color: rgb(250, 226, 226);
    }

    #jText-image {
        width: 485px;
        height: 20px;
        border: 2px;
        border-radius: 4px;

    }

    #jText-1 {
        width: 485px;
        height: 20px;
        border: 2px;
        border-radius: 4px;

    }

    #jText-descricao {
        width: 485px;
        height: 80px;
        border: 2px;
        border-radius: 4px;

    }

    #texto-nome {
        color: rgb(204, 203, 207);
        font-family: sans-serif;
        margin-right: auto;
        margin-left: auto;
        font-weight: 300;
    }

    #texto-descricao {
        color: rgb(204, 203, 207);
        font-family: sans-serif;
        margin-right: 410px;
        font-weight: 300;
    }

    #texto-imagem {
        color: rgb(204, 203, 207);
        font-family: sans-serif;
        margin-right: auto;
        margin-left: auto;
        font-weight: 300;
    }

    #button-1 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color: #FFA500;
        border: 2px solid #8b5b02;
        border-radius: 6px;
        height: 35px;
    }

    #button-1:hover {
        background-color: #fcc96a;
        color: rgb(58, 58, 58);
        transition: 0.5s;
    }
</style>