<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Coleção</title>
</head>

<body>
    <div class="navbar">
        <div class="divpaginainicial">
            <a href='/inicio'>{{pass_user_login}}</a>
        </div>
    </div>
    <div class="divgeral">
        <img src="../imagens/logosite.png" style="width: 90px; height: 90px; margin-left: 40px; display: block; margin-bottom:auto">
    </div>
</body>

</html>

<style>
    body {
        /*background-color: #f1f1f1;*/
        background-image: url('../imagens/retro.gif');
        background-repeat: repeat;
        background-size: cover;
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
    }

    .navbar {
        display: flex;
        width: 100%;
        height: 60px;
        background-color: #2c3e50;
    }

    .navbar a {
        text-decoration: none;
        color: white;
    }

    .divgeral {
        width: 100%;
        height: 100%;
    }

    .divpaginainicial {
        padding: 10px 10px 10px 10px;
        margin-top: 6px;
        display: block;
        height: 20px;
        margin-left: 90%;
        color: #ffffff;
        background-color: #ff7f50;
        border: 2px solid black;
        border-radius: 5px;
        box-shadow: 4px 4px 8px rgb(0, 0, 0, 0.2);
    }

    .divpaginainicial:hover{
        transition: 0.5s;
        background-color: #50d0ff;
        color: black;
    }

</style>