<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href="login.css" media="screen" />
    </head>

    <body>
        <div class="divgeral">
            <div class="navbar">
                <div class="divsobre">
                    <a href="">Sobre</a>
                </div>
                <div class="divcriador">
                    <a href="">Criador</a>
                </div>
                <div class="divcontato">
                    <a href="">Contato</a>
                </div>
            </div>
            <div class="formulario">
                <form class="formulariologin">
                    <h1> LOGIN </h1>
                    
                    <label>Usuario:</label>
                    <br>
                    <input>
                    <br>
                    <label>Senha:</label>
                    <br>
                    <input>
                    <br>
                    <button type="submit">Entrar</button>
                    <br>
                    <a href="">Esqueci a senha</a>
                </form>
                <form class="formularioCadastro">
                    <h1> CADASTRO </h1>
                    <label>Usuario/Nickname:</label>
                    <br>
                    <input>
                    <br>
                    <label>E-mail:</label>
                    <br>
                    <input>
                    <br>
                    <label>Senha:</label>
                    <br>
                    <input>
                    <br>
                    <label>Confirmação de Senha:</label>
                    <br>
                    <input>
                    <br>
                    <button type="submit">Cadastrar</button>
                </form>
                
                <div class="divobjetivo">
                    <h1>OBJETIVO DO SITE</h1>
                    <a>O objetivo principal deste site é fornecer aos jogadores uma plataforma web para publicar avaliações, comentários, vídeos e fotos dos jogos, com a finalidade de auxiliar outros jogadores na decisão de comprar ou não um determinado jogo. Essa plataforma fornecerá alguns cartões com as capas dos jogos, e ao selecionar o cartão, será carregado o ambiente totalmente focado nesse jogo em específico.</a>
                </div>
            </div>
        </div>
    </body>
</html>