<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href="login.css" media="screen" />
    </head>

    <body>
        <div class="divgeral">
            <div class="navbar">
                <a>aaa</a>
            </div>
            <div class="formulario">
                <form class="formulariologin">
                    <h1> LOGIN </h1>
                    
                    <label>Usuario:</label>
                    <br>
                    <input>
                    <br>
                    <label>Senha:</label>
                    <br>
                    <input>
                    <br>
                    <button type="submit">Entrar</button>
                    <br>
                    <a href="">Esqueci a senha</a>
                </form>
                <form class="formularioCadastro">
                    <h1> CADASTRO </h1>
                    <label>Usuario/Nickname:</label>
                    <br>
                    <input>
                    <br>
                    <label>E-mail:</label>
                    <br>
                    <input>
                    <br>
                    <label>Senha:</label>
                    <br>
                    <input>
                    <br>
                    <label>Confirmação de Senha:</label>
                    <br>
                    <input>
                    <br>
                    <button type="submit">Cadastrar</button>
                </form>
            </div>
        </div>
    </body>
</html>