<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Sobre Criador</title>
        <link rel="stylesheet" type="text/css" href="sobreCriador.css" media="screen" />
    </head>

    <body>
        <div class="navbar">
            <div class="divpaginainicial">
                <a>Inicio</a>
            </div>
        </div>
        <div class="divgeral">
            <div class="divinformacoes">
                <div class="divredessociais">
                    <a href="https://github.com/likehs2" target="_blank"><img id="logoghub" src="../imagens/logoghub.png"></a>
                    <a href="https://www.linkedin.com/in/vinicius-lopes-ferreira-2b7182201" target="_blank"><img id="logoghub" src="../imagens/logolkd.png"></a>
                    <a href="https://www.instagram.com/viniciusl_ferreira" target="_blank"><img id="logoghub" src="../imagens/logoinsta.png"></a>
                    
                    <img id="perfilgithub" src="../imagens/githubperfil.png">
                </div>
            </div>
        </div>
    </body>
</html>